<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FARMPLACE</title>
    <link rel="icon" href="../images/icons/favicon-96x96.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {% include "../partials/header.njk" %}
    <main class="home">
            <div class="home__text">
                <h2 class="home__text-title">축산 농가 성공 메뉴얼</h2>
                <h2 class="home__text-title">농업회사법인 (주)팜플</h2>
                <p class="home__text-detail">한우 유전자 분석부터 농장 빅데이터 분석까지</p>
                <p class="home__text-detail">농가 친화적인 파트너로서 최고의 서비스를 제공합니다.</p>
            </div>
            <div class="home__img">
                <img class="home__img-item" src="../images/backgrounds/main_bg1.jpg" alt="main_img">
                <img class="home__img-item" src="../images/backgrounds/main_bg2.jpg" alt="main_img">
            </div>
    </main>
    {% include "../partials/footer.njk" %}
</body>
</html>