<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FARMPLACE</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {% include "../../partials/header.njk" %}
    <main class="introduction">
        <div class="introduction__intro">
            <div class="introduction__intro-wrap">
                <h2 class="introduction__intro-title">
                    <strong class="introduction__intro-title-company">(주)농업회사법인 팜플은</strong>
                </h2>
                <h2 class="introduction__intro-title">
                    <strong class="introduction__intro-title-sub">축산 농가와 함께 가는 든든한 파트너</strong>
                    입니다.
                </h2>
                <div class="introduction__intro-detail-wrap">
                    <p class="introduction__intro-detail-text">2021년 1월 창립이래 농업과 축산 분야의 농가서비스 및 연구개발을 수행해온 농축산 전문 기업입니다.</p>
                    <p class="introduction__intro-detail-text">BT와 IT 기술을 접목한 융복합산업 성장에 발 맞추어 유전체 분석, 유전자를 활용한 친자확인, 축산 전문 플랫폼 개발 및 운영 등을 통해</p>
                    <p class="introduction__intro-detail-text">분야에서 고부가 가원 개발 및 가치 창출을 위한 전주기적 스마트 육종개량 시스템 구축 및 농가와의 상새을 위해 노력하고 있습니다.</p>
                    <p class="introduction__intro-detail-text">(주)농업회사법인 팜플은 고객 여러분께 연구 및 현장 활용 기술 개발 및 향후 기술발전에 농가 친화적인 파트너로서 최고의 서비스를 제공할 수 있도록</p>
                    <p class="introduction__intro-detail-text">최선을 다하겠습니다.</p>
                </div>
                <strong class="introduction__intro-detail-text intro-detail-strong">(주)농업회사법인 팜플</strong>
                <strong class="introduction__intro-detail-text intro-detail-strong">대표 김도현 올림</strong>
            </div>
        </div>
        <div class="introduction__history">
            <div class="introduction__history-wrap">
                <div class="introduction__history-content">
                    <img class="introduction__history-content-image" src="../images/backgrounds/introduction_history_img1.jpg" alt="introduction_history_img1">
                    <div class="introduction__history-content-wrap">
                        <p class="introduction__history-content-year">2022</p>
                        <p class="introduction__history-content-month">03월</p>
                        <p class="introduction__history-content-text">2022 비대면 스타트업 육성사업 창업기업 선정</p>
                        <p class="introduction__history-content-month">05월</p>
                        <p class="introduction__history-content-text">농업수산식품교육문화정보원 스마트 축사 사업 참여기업</p>
                    </div>
                </div>
                <div class="introduction__history-content">
                    <div class="introduction__history-content-wrap">
                        <p class="introduction__history-content-year">2021<p>
                        <p class="introduction__history-content-month">01월<p>
                        <p class="introduction__history-content-text">농업회사법인 주식회사 팜플 설립<p>
                        <p class="introduction__history-content-month">03월<p>
                        <p class="introduction__history-content-text">초기창업패키지 기술창업 회사 선정</p>
                        <p class="introduction__history-content-month">05월<p>
                        <p class="introduction__history-content-text">농촌진흥청 축산과학원 청년농 사업 컨설팅 기관 선정</p>
                        <p class="introduction__history-content-month">06월</p>
                        <p class="introduction__history-content-text">전라북도 고능력 암소축군 조성 컨설팅 사업 분석기관</p>
                    </div>
                    <img class="introduction__history-content-image" src="../images/backgrounds/introduction_history_img2.jpg" alt="introduction_history_img2">
                </div>    
            </div>
        </div>
        <div class="introduction__research">
            <div class="introduction__research-wrap">
                <div class="introduction__research-content">
                    <img class="introduction__research-content-image" src="../images/backgrounds/introduction_research_img1.png" alt="introduction_research_img1">
                    <p class="introduction__research-content-title">SNP 유전체 분석 고도화 연구</p>
                    <p class="introduction__research-content-text">한우 SNP reference population의 확대를 통한</p>
                    <p class="introduction__research-content-text">유전체 육종가 정확도 고도화 연구</p>
                </div>
                <div class="introduction__research-content">
                    <img class="introduction__research-content-image" src="../images/backgrounds/introduction_research_img2.png" alt="introduction_research_img2">
                    <p class="introduction__research-content-title">축산 탄소 저감 연구<p>
                    <p class="introduction__research-content-text">농장의 이력, 도축, 혈통, 번식 등의 빅데이터 정보를<p>
                    <p class="introduction__research-content-text">활용한 IPCC 기준 및 국내 탄소 산식 개발을 통한<p>
                    <p class="introduction__research-content-text">축산 사육단계 탄소 저감 연구<p>    
                </div>    
            </div>
        </div>
        <div class="introduction__map">
            <div class="introduction__map-wrap">
                <div class="introduction__map-content">
                    <p class="introduction__map-content-title">찾아오시는 길<p>
                    <p class="introduction__map-content-text">전라북도 전주시 완산구 팔달로 38<p>
                    <p class="introduction__map-content-title">문의 및 연락<p>
                    <p class="introduction__map-content-text">farmplace@naver.com<p>
                    <p class="introduction__map-content-text">010 - 7280 - 8682<p>    
                </div>    
                <img class="introduction__map-content-image" src="../images/backgrounds/introduction_map_img1.png" alt="introduction_map_img1">
            </div>
        </div>
    </main>
    {% include "../../partials/footer.njk" %}
</body>
</html>