<footer>
        <div class="footer">
            <img class="footer__logo" src="../images/footerlogo.png" alt="farmplace logo" />
            <div class="footer__text">
                <ul class="footer__text-list footer__copyright">
                    <li class="footer__text-list-item">Copyright © 2023.FARMPLACE. All Rights Reserved.</li>
                </ul>
                <ul class="footer__text-list footer__company-info-list">
                    <li class="footer__text-list-item">(주) 농업회사법인 팜플</li>
                    <li class="footer__text-list-divider"></li>
                    <li class="footer__text-list-item">대표자 : 김도현</li>
                    <li class="footer__text-list-divider"></li>
                    <li class="footer__text-list-item">사업자등록번호 : 809-86-01977</li>
                </ul>
                <ul class="footer__text-list footer__company-contact-list">
                    <li class="footer__text-list-item">주소 : 전라북도 전주시 완산구 팔달로 38</li>
                    <li class="footer__text-list-divider"></li>
                    <li class="footer__text-list-item">이메일 : farmplace@naver.com</li>
                    <li class="footer__text-list-divider"></li>
                    <li class="footer__text-list-item">연락처 : 010-7280-8682</li>
                </ul>
            </div>
        </div>
    </footer>