<header>
        <div class="header">
            <div class="header__logo">
                <h1>
                    <a href="/">
                        <img src="../images/logo.png" alt="farmplace logo">
                    </a>
                </h1>
            </div>
            <nav class="header__nav">
                <ul class="header__nav-list">
                    <li class="header__nav-item"><a href="/introduct" class="header__nav-link">회사소개</a></li>
                    <li class="header__nav-item"><a href="/service" class="header__nav-link">서비스</a></li>
                    <li class="header__nav-item"><a href="/product" class="header__nav-link">자사플랫폼</a></li>
                </ul>
            </nav>
        </div>
    </header>